<div class="container h-100">
  <div class="d-flex justify-content-center h-100 mg">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img
            src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png"
            class="brand_logo"
            alt="Logo"
          />
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <div class="alert alert-danger" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <form #f="ngForm" (ngSubmit)="f.form.valid && register()">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
              type="text"
              id="fullName"
              name="fullName"
              [(ngModel)]="user.fullName"
              #fullName="ngModel"
              class="form-control input_user"
              placeholder="Full Name"
              required
            />
            <div class="alert-danger" *ngIf="!fullName.valid && f.submitted">
              Full name is required.
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
              type="text"
              id="username"
              name="username"
              [(ngModel)]="user.username"
              #username="ngModel"
              class="form-control input_user"
              placeholder="Username"
              required
            />
            <div class="alert-danger" *ngIf="!username.valid && f.submitted">
              Username is required.
            </div>
          </div>

          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
              type="password"
              id="password"
              name="password"
              [(ngModel)]="user.password"
              #password="ngModel"
              class="form-control input_pass"
              placeholder="Password"
              required
            />
            <div class="alert-danger" *ngIf="!password.valid && f.submitted">
              Password is required.
            </div>
          </div>
          <!-- <div class="form-group">
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customControlInline">
                              <label class="custom-control-label" for="customControlInline">Remember me</label>
                          </div>
                      </div> -->
          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" name="button" class="btn login_btn">
              Sign Up
            </button>
          </div>
        </form>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Do you have an account?
          <a [routerLink]="['/login']" class="ml-2">Sign In</a>
        </div>
        <!-- <div class="d-flex justify-content-center links">
                      <a href="#">Forgot your password?</a>
                  </div> -->
      </div>
    </div>
  </div>
</div>
